/*ProdCardStyles*/

.card {
  border: 2px solid rgb(153, 149, 148);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card > * {
  margin-bottom: 20px;
}

.card img {
  width: 200px;
}

.card p {
  text-align: justify;
  width: 80%;
}
.price::after {
  content: "USD";
}
